<div aria-hidden="true" aria-labelledby="createTournamentModalLabel" class="modal fade" id="createTournamentModal" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<form action="{{ url_for('tournaments.create') }}" id="createTournamentForm" method="POST">
<div class="modal-header">
<h5 class="modal-title" id="createTournamentModalLabel">Create Tournament</h5>
<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
<div class="row g-3">
<div class="col-12">
<label class="form-label" for="tournamentName">Tournament Name</label>
<input class="form-control" id="tournamentName" name="name" required="" type="text"/>
</div>
<div class="col-12">
<label class="form-label" for="tournamentDescription">Description</label>
<textarea class="form-control" id="tournamentDescription" name="description" rows="3"></textarea>
</div>
<div class="col-md-6">
<label class="form-label" for="tournamentFormat">Tournament Format</label>
<select class="form-select" id="tournamentFormat" name="format" required="">
<option value="single_elimination">Single Elimination</option>
<option value="double_elimination">Double Elimination</option>
<option value="round_robin">Round Robin</option>
<option value="swiss">Swiss System</option>
</select>
</div>
<div class="col-md-6">
<label class="form-label" for="gameType">Game Type</label>
<select class="form-select" id="gameType" name="game_type" required="">
<option value="8-ball">8-Ball</option>
<option value="9-ball">9-Ball</option>
<option value="straight">Straight Pool</option>
</select>
</div>
<div class="col-md-6">
<label class="form-label" for="maxParticipants">Max Participants</label>
<input class="form-control" id="maxParticipants" min="2" name="max_participants" type="number" value="8"/>
</div>
<div class="col-md-6">
<label class="form-label" for="bestOf">Best of Games</label>
<select class="form-select" id="bestOf" name="best_of" required="">
<option value="1">Best of 1</option>
<option value="3">Best of 3</option>
<option value="5">Best of 5</option>
<option value="7">Best of 7</option>
</select>
</div>
<div class="col-md-6">
<label class="form-label" for="entryFee">Entry Fee ($)</label>
<input class="form-control" id="entryFee" min="0" name="entry_fee" step="0.01" type="number" value="0"/>
</div>
<div class="col-md-6">
<label class="form-label" for="prizePool">Prize Pool ($)</label>
<input class="form-control" id="prizePool" min="0" name="prize_pool" step="0.01" type="number" value="0"/>
</div>
<div class="col-md-6">
<label class="form-label" for="venue">Venue</label>
<select class="form-select" id="venue" name="venue_id" required="">
                                {% for venue in venues %}
                                <option value="{{ venue.id }}">{{ venue.name }}</option>
                                {% endfor %}
                            </select>
</div>
<div class="col-md-6">
<label class="form-label" for="registrationDeadline">Registration Deadline</label>
<input class="form-control" id="registrationDeadline" name="registration_deadline" required="" type="datetime-local"/>
</div>
<div class="col-md-6">
<label class="form-label" for="startDate">Start Date</label>
<input class="form-control" id="startDate" name="start_date" required="" type="datetime-local"/>
</div>
<div class="col-md-6">
<label class="form-label" for="endDate">End Date</label>
<input class="form-control" id="endDate" name="end_date" required="" type="datetime-local"/>
</div>
<div class="col-12">
<label class="form-label" for="rules">Tournament Rules</label>
<textarea class="form-control" id="rules" name="rules" rows="4"></textarea>
</div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
<button class="btn btn-primary" type="submit">Create Tournament</button>
</div>
</form>
</div>
</div>
</div> 