<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to DojoPool</title>
</head>
<body>
    <h1>Welcome to DojoPool!</h1>
    <p>Hi {{ username }},</p>
    <p>Welcome to DojoPool! We're excited to have you join our community of pool players.</p>
    <p>Here are some things you can do to get started:</p>
    <ul>
        <li>Complete your profile</li>
        <li>Find nearby venues</li>
        <li>Join or create a tournament</li>
        <li>Connect with other players</li>
    </ul>
    <p>If you have any questions, feel free to reach out to our support team.</p>
    <p>Best regards,<br>The DojoPool Team</p>
</body>
</html> 