flask>=3.1.0
flask-login>=0.6.3
flask-sqlalchemy>=3.1.1
psycopg2-binary>=2.9.10
flask-socketio>=5.4.1
eventlet>=0.36.1
werkzeug>=3.1.0
requests>=2.32.3
oauthlib>=3.2.2
python-dotenv>=1.0.1
pillow>=11.0.0
pyopenssl>=24.0.0