aiohappyeyeballs==2.4.3
aiohttp==3.11.12
aioresponses==0.7.4
aiosignal==1.3.1
alembic==1.12.0
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.6.2.post1
APScheduler==3.11.0
asgiref==3.8.1
asynctest==0.13.0
attrs==24.2.0
Authlib==1.4.0
bandit==1.8.2
beautifulsoup4==4.12.3
bidict==0.23.1
black==24.10.0
blinker==1.9.0
boolean.py==4.0
CacheControl==0.14.2
cachelib==0.9.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.1
coverage==7.3.2
cryptography==44.0.0
cycler==0.12.1
cyclonedx-python-lib==7.6.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
defusedxml==0.7.1
Deprecated==1.2.15
distlib==0.3.9
distro==1.9.0
Django==5.1.1
dnspython==2.7.0
-e git+ssh://git@github.com/SgtClickClack/DojoPool.git@bdee832d968eaad39b2a861610335c0e8d9872f8#egg=dojo_pool
dojopool==0.1
dparse==0.6.4
ecdsa==0.19.0
email_validator==2.2.0
eventlet==0.38.2
execnet==2.1.1
factory-boy==3.3.0
Faker==20.1.0
fakeredis==2.26.1
fastapi==0.115.8
fastapi-utils==0.8.0
filelock==3.16.1
flake8==7.1.1
Flask==3.1.0
Flask-APScheduler==1.13.1
Flask-Caching==2.3.0
Flask-Cors==5.0.0
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.9.2
Flask-Login==0.6.3
Flask-Mail==0.9.1
flask-marshmallow==1.3.0
Flask-Migrate==4.0.5
flask-redis==0.4.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.0.1
flatbuffers==25.1.24
fonttools==4.55.7
freezegun==1.2.2
frozenlist==1.5.0
fsspec==2024.2.0
git-filter-repo==2.45.0
google-auth==2.23.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
greenlet==3.1.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.26.2
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.3
jiter==0.6.1
joblib==1.4.2
jwt==1.3.1
kaleido==0.2.1
kiwisolver==1.4.8
libclang==18.1.1
license-expression==30.4.1
limits==3.14.1
lxml==5.3.0
Mako==1.3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.3
marshmallow-sqlalchemy==1.1.0
matplotlib==3.10.0
mccabe==0.7.0
mdurl==0.1.2
mock==5.1.0
motor==3.6.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mypy==1.14.1
mypy-extensions==1.0.0
namex==0.0.8
networkx==3.2.1
numpy==2.1.2
oauthlib==3.2.2
openai==1.52.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
ordered-set==4.1.0
outcome==1.3.0.post0
packageurl-python==0.16.0
packaging==24.1
paginate==0.5.7
pandas==2.2.3
passlib==1.7.4
pathspec==0.12.1
pbr==6.1.1
pillow==11.1.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.7.3
platformdirs==4.3.6
pluggy==1.5.0
prometheus_client==0.21.1
prometheus_flask_exporter==0.23.1
propcache==0.2.0
protobuf==5.29.3
psutil==6.1.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
py-serializable==1.1.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.9.0
pymongo==4.9.2
pyOpenSSL==24.3.0
pyotp==2.9.0
pyparsing==3.2.0
PySocks==1.7.1
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-env==1.1.1
pytest-flask==1.3.0
pytest-mock==3.12.0
pytest-randomly==3.15.0
pytest-sugar==1.0.0
pytest-timeout==2.2.0
pytest-xdist==3.3.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.11.0
python-http-client==3.3.7
python-jose==3.3.0
python-json-logger==3.2.1
python-multipart==0.0.20
python-socketio==5.11.4
pytz==2024.2
PyYAML==6.0.2
pyyaml_env_tag==0.1
qrcode==8.0
ratelimit==2.2.1
redis==5.2.1
regex==2024.9.11
-e git+ssh://git@github.com/SgtClickClack/DojoPool.git@bdee832d968eaad39b2a861610335c0e8d9872f8#egg=repl_nix_dojopoolenhancer
requests==2.32.3
requests-mock==1.11.0
requests-oauthlib==2.0.0
responses==0.24.1
retrying==1.3.4
rich==13.9.4
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.9.3
safetensors==0.4.5
safety==3.2.14
safety-schemas==0.0.10
schedule==1.2.2
scikit-learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
selenium==4.27.1
sendgrid==6.10.0
sentry-sdk==2.20.0
setuptools==70.0.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.38
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
starlette==0.45.3
stevedore==5.4.0
structlog==25.1.0
supervisor==4.2.5
sympy==1.13.1
tensorboard-data-server==0.7.2
termcolor==2.5.0
threadpoolctl==3.5.0
tk==0.1.0
tokenizers==0.20.1
toml==0.10.2
torch==2.5.1+cpu
tqdm==4.66.5
transformers==4.46.1
trio==0.27.0
trio-websocket==0.11.1
typer==0.15.1
types-passlib==1.7.7.20241221
types-pyasn1==0.6.0.20240913
types-python-dateutil==2.9.0.20241206
types-PyYAML==6.0.12.20241230
types-requests==2.32.0.20241016
types-setuptools==75.8.0.20250110
types-SQLAlchemy==1.4.53.38
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.3.0
vine==5.1.0
virtualenv==20.28.0
waitress==3.0.2
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
WebOb==1.8.9
websocket-client==1.8.0
websockets==14.1
WebTest==3.0.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.0
wsl==0.12
wsproto==1.2.0
WTForms==3.2.1
yarl==1.17.1
zipp==3.21.0
