.loadingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a2e;
  color: #ffffff;
}

.fullScreenContainer {
  width: 100vw;
  height: 100vh;
}
