{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1>Welcome to Dojo Pool</h1>
            <p class="lead">A location-based coin collection game</p>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('umpire.umpire_page') }}" class="btn btn-primary">Go to Game</a>
            {% else %}
                <a href="{{ url_for('google_auth.login') }}" class="btn btn-primary">Login with Google</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
